
body {
    font-family: 'Spartan', sans-serif;
    width: 100%;
    margin: auto;
    font-size: 12px;
}

.body-container {
    width: 100%;
}

main {
    width: 100%;
}

figure {
    width: 100%;
    margin: 0;
}

/* Header Styles */

header {
    width: 100%;
}

.header-container {
    background-image: url("../images/mobile-image-hero-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 360px;
    min-width: 375px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.logo-nav-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100px;
    width: 100%;
}

.hamburger-menu {
    color: white;
    margin-left: 30px;
}

#nav-icon {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0;
    cursor: pointer;
}

#nav-icon i {
    min-height: 20px;
    min-width: 30px;
    font-size: 20px;
}


.nav-container {
    visibility: hidden;
    width: 100%;
}


.header-container nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
    list-style-type: none;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
}

.header-container nav ul li {
    cursor: pointer;
    font-weight: 500;
}

a.middle {
    text-decoration: none;
    color: black;
}

.logo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
}

.arrow-buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 60px;
    width: 100px;
}

.arrow-buttons p {
    padding: 10px;
    max-height: 75px;
}

.fontawesome-icon {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 30px;
    font-weight: 400;
}


#right-button, #left-button {
    cursor: pointer;
}

#right-button:hover, #left-button:hover {
    background-color: gray;
}

/* About Section Styles */

.about-container {
    width: 100%;
}

.about-container figure img {
    width: inherit;
}

.about-text {
    padding: 30px;
    line-height: 22px;
}

.about-text h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.about-text p {
    color: darkgray;
}


/* Shop Aside */

.aside-container {
    padding: 30px;
    line-height: 22px;
}

.aside-container h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
}

.aside-container p {
    color: darkgray;
}

.shop-button {
    padding: 20px 0 20px 0;
}

.shop-button p {
    letter-spacing: 8px;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
}



@media only screen and (min-width:1440px) {
/* Desktop Styles */

body {
    max-width: 1440px;
}

/* Desktop Header */

.hero-slide-container {
    display: flex;
    flex-flow: row nowrap;
    min-height: 500px;
}

.header-container {
    background-image: url("../images/desktop-image-hero-1.jpg");
    background-position: left top;
    background-size: 864px 500px;
    max-height: 534px;
    flex: 3 900px;
}

.logo-nav-container {
    padding-top: 10px;
}

.logo {
    margin: 0 40px 0 0;
    width: 62px;
}

.hamburger-menu {
    visibility: hidden;
}

.nav-container {
    display: flex;
    align-items: flex-end;
    visibility: visible;
    width: 60%;
    background-color: transparent;
}

.header-container nav {
    width: 50%;
}

.header-container nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    list-style-type: none;
    text-transform: lowercase;
    color: white;
    margin: 0;
    padding: 0;
}

.header-container nav ul li {
    flex: 1;
    font-weight: 500;
}

a.middle {
    position: relative;
    text-decoration: none;
    color: white;
}

a.middle:before {
    content:"";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -10px;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

a.middle:hover:before {
    visibility: visible;
    transform: scaleX(.50);
}

/* Desktop Shop Aside */

aside {
    flex: 1 600px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end; 
    max-height: 534px;
}

.aside-container {
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: space-between;
    min-height: 500px;
}



.arrow-buttons {
    width: 135px;
    justify-content: space-around;
}


.aside-container h1 {
    padding: 50px 50px 0 50px;
    margin: 25px 50px 0 50px;
    font-size: 34px;
    line-height: 40px;
}

.aside-container #aside-text {
    padding: 0 50px 0 50px;
    margin: 0 50px 0 50px;
}

.shop-button {
    padding: 0 0 20px 100px;
}


/* Desktop About Section Styles */

.about-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.about-text {
    flex: 1.12;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.about-container figure {
    flex: 1;
}

figure img {
    min-height: 280.13px;
}